body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "about projects projects"
      "skills skills skills"
      "contact contact contact";
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-template-columns: 25% 1fr 10%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0 10%;
    font-family: 'Roboto Condensed', sans-serif;
    }

  header, footer, article, footer, div {
    padding: 10px;
  }
  #pageHeader {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-content: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }

 
  #contact {
    grid-area: contact;
  }
  #projects { 
    grid-area: projects;
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    }
  #about { 
    grid-area: about; 
    text-align: justify;
    }

 #skills {
      grid-area: skills;
    }
  #logo {
    width: 100%;
    align-self: center;
    border-radius: 50%; 
    margin-top: 20px;
    }

    .projectName {
      color: white;
      text-align: center;
    }

    nav {
      max-width: auto;
      margin: auto;
      text-transform: uppercase;
      text-align: center;
    }
  
    a {
      margin: auto 30px;
      color: black;
    }

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; color: black;}     
    a:hover { 
      text-decoration: none; 
      color: blue;
      opacity: .7;
    }     
    a:active { text-decoration: none; }

    .project {
      height: 250px;
      width: 200px;
      margin: 20px;
      background-color: black;
      color: white;
      text-align: center;
      position: relative;
    }



    .title {
      height: 15px;
      width: 100%;
      background-color: black;
      color: white;
      display: grid;
      grid-auto-flow: row;
      justify-items: center;
      align-content: center;      
    }
  
    #icons {
      width: 100%;

      display: flex; 
      flex-flow: row wrap;
      flex-grow: 1;
      justify-content: center;

    }

    i {
      margin: 10px 10px 0 10px;
      font-size: 3em
    }

    button {
      background-color: white;
      height: 50px;
      width: 50px;
      border-radius: 20%;
    }


    /*code for conact form begins
    */

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

/* model code */

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

